.list {
  display: flex;
  align-items: center;
  gap: 14px;
}

.item {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #686868;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}
.item:hover {
  border-bottom: 2px solid #e4e2e2;
}
.item__active {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  border-bottom: 2px solid #ffd54f;
}
