.header {
  background: url('../../../../assets/images/bg_main.png') no-repeat;
  background-size: 110%;
  background-position-x: center;
  background-position-y: center;
  margin-top: -30px;
  height: 440px;
}
.circle {
  position: absolute;
  right: 9%;
  margin-top: 45px;
}
.search__container {
  padding: 75px 80px 0px;
  text-align: center;
}
.search__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
}
.search__subtitle {
  margin: 20px auto 23px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  width: 390px;
}
.search__button {
  background: #ffffff;
  border-radius: 19px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #1e2123;
  padding: 10px 18px;
  display: flex;
  align-items: center;
  gap: 11px;
  margin: 0 auto;
}
.search__button:hover {
  color: #fec100;
}
