.container {
  position: absolute;
  top: 28%;
  left: -12.5%;
  width: 274px;
  height: 297px;
  background: #fff;
  box-shadow: 0 0 40px rgba(135, 124, 202, 0.3);
  border-radius: 10px;
  text-align: center;
}

.avatar {
  border: 5px solid #664ef9;
  border-radius: 50%;
  margin-top: 25px;
}

.status {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #bdbdbd;
}

.name {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #1e2123;
  margin-top: 5px;
}

.telephone {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #1e2123;
  margin-top: 18px;
}

.email {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-decoration-line: underline;
  color: #664ef9;
  margin-top: 15px;
}

.list__social {
  margin-top: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@mixin icon {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 19px;
}

.viber {
  background: #7b519d;
  @include icon;
}

.whatsup {
  background: #0dbb41;
  @include icon;
}

.mail {
  background: #664ef9;
  @include icon;
}
