.input {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 20px 15px 55px;
  gap: 10px;
  width: 306px;
  height: 50px;
  background: #f7f7f7;
  border-radius: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #686868;
  border: none;
  transition: 0.05s;
}

.icon {
  color: #686868;
  position: absolute;
  display: block;
  margin-top: -35px;
  margin-left: 20px;
}
.input:focus {
  border: 2px solid rgb(78 100 249 / 80%);
}

.warning__icon {
  margin-top: -35px;
  margin-left: 120px;
  position: absolute;
}
