.container {
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
}

.select__list {
  margin-top: 60px;
  display: flex;
  gap: 30px;
}

.title {
  margin-top: 15px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.subtitle {
  margin-top: 33px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  background: linear-gradient(90deg, #9d94ff 0%, #6b50e9 94.5%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.select {
  [class$='control'] {
    background-color: #fff;
    width: 185px;
    border-radius: 20px;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 96, 206, 0.1);
  }
  [class$='control']:focus {
    border: 2px solid rgba(102, 78, 249, 0.8);
  }
  [class$='Svg'] {
    fill: #664ef9;
  }
  [class$='indicatorSeparator'] {
    display: none;
  }

  [class$='menu'] {
    background: #fff;
    box-shadow: 0 0 40px rgba(135, 124, 202, 0.3);
    border-radius: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }

  [class$='placeholder'] {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #686868;
    display: flex;
    gap: 8px;
    align-items: center;
    padding-left: 14px;
  }
}
