.container {
  width: 406px;
  display: block;
  height: 500px;
  background: #fffefe;
  border-radius: 10px;
  box-shadow: (0 20px 20px rgba(39, 95, 158, 0.15));
}

.header {
  display: flex;
  justify-content: center;
  width: 406px;
  background: #e4e2e2;
  border-radius: 10px;
  height: 226px;
}

.img {
  border-radius: 10px;
  width: 100%;
  height: 226px;
}
.main {
  margin: 30px 20px 25px;
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #1e2123;
  height: 38px;
}

.description {
  margin-top: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #8291a3;
  height: 84px;
  display: flex;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line {
  margin: 0 20px;
  background: #664ef9;
  opacity: 0.1;
  height: 2px;
}

.footer {
  display: flex;
  margin: 20px 20px 0;
  justify-content: space-between;
}

.date {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  color: #8291a3;
  padding: 10px 8px;
  background: #f8f8f8;
  border-radius: 18px;
}

.link {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #664ef9;
  padding: 10px 15px;
  background: rgba(102, 78, 249, 0.1);
  border-radius: 17px;
}
