.spinner {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 65px;
  background: linear-gradient(90deg, rgba(148, 175, 255, 0.1) 0%, rgba(78, 100, 249, 0.1) 94.5%);
  padding: 62px 80px 100px;
}

.title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #1e2123;
}

.list {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}
