.circle_group {
  margin-top: 41px;
  margin-left: 50px;
}

.container {
  width: 100%;
  margin: auto;
  height: 1000px;
}

.bg {
  right: 0;
  position: absolute;
  width: 56%;
  height: 970px;
  background: linear-gradient(90deg, #94afff 0%, #4e64f9 94.5%);
  opacity: 0.1;
  border-radius: 40px 0 0;
}
