.container {
  margin: 136px auto 100px;
  padding: 0 80px;
}
.circle {
  position: absolute;
  right: 11.5%;
  margin-top: -100px;
}
.main {
  display: flex;
  gap: 30px;
  justify-content: center;
}
