.container {
  width: 625px;
  padding: 40px 38px 44px;
  background: #fffefe;
  box-shadow: 0 20px 40px rgba(39, 95, 158, 0.2);
  border-radius: 10px;
}

.data {
  display: flex;
  gap: 30px;
}

.title {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #686868;
}

.input__container {
  display: flex;
  flex-direction: column;
}

.input__mini {
  margin-top: 15px;
  width: 260px;
  height: 50px;
  background: #f8f8f8;
  border-radius: 30px;
  border: none;
  transition: 0ms;
  padding-left: 55px;
}
.input__mini:focus {
  border: 2px solid rgba(102, 78, 249, 0.8);
}

.input__mini::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #686868;
}

.input__big {
  width: 548px;
  height: 200px;
  background: #f8f8f8;
  border-radius: 30px;
  border: none;
  margin-top: 15px;
  padding-left: 20px;
  padding-top: 15px;
  transition: 0ms;
}

.input__big::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #686868;
}

.input__big:focus {
  border: 2px solid rgba(102, 78, 249, 0.8);
  .input__big {
    color: #664ef9;
  }
}

.input__icon {
  position: absolute;
  margin-top: 50px;
  margin-left: 20px;
  color: #686868;
}

.input__mini::before {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #1e2123;
}
.message {
  margin-top: 30px;
}

.button {
  display: flex;
  justify-content: center;
  margin: 40px auto 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: white;
  background: #664ef9;
  border-radius: 33px;
  padding: 12px 56px;
}

.warning__mini {
  width: 20px;
  height: 20px;
  position: absolute;
  margin-left: 225px;
  margin-top: 45px;
}

.warning__big {
  width: 20px;
  height: 20px;
  position: absolute;
  margin-top: 30px;
  margin-left: -40px;
}
.input__warning {
  border: 1px solid #eb5757;
}
