.container {
  padding: 0 80px;
  width: 1440px;
  margin: 30px auto 100px;
}

.bg {
  right: 0;
  position: absolute;
  width: 58%;
  height: 100vh;
  max-height: 1000px;
  background: linear-gradient(90deg, #94afff 0%, #4e64f9 94.5%);
  opacity: 0.1;
  border-radius: 40px 0 0;
}

.list {
  margin-top: 50px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.pagination {
  margin-top: 80px;
}
