* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  transition: 0.5s;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
  background-color: white;
  cursor: pointer;
}
.icons {
  cursor: pointer;
}
*:focus {
  outline: none;
}
